<div id="players">
	<div class="center center-block">
		<p>Which is cuter?</p>
	</div>
	<div id="main-container" class="container">
		<div class="row">
			<div class="col-xs-6">
				<%= link_to(upvote_player_path(@player1), method: :post) do %>
					<div class="pull-right box panel panel-default">
						<%= (image_tag(@player1.image.url(:medium), :class=>"img-responsive")) %>
						<div class="panel-body">
							<%= @player1.name %>
						</div>
					</div> <!-- end pull right -->
				<% end %> <!-- end link ruby block -->
			</div>

			<div class="col-xs-6">
				<%= link_to(upvote_player_path(@player2), method: :post) do %>
					<div class="pull-left box panel panel-default">
						<%= (image_tag(@player2.image.url(:medium), :class=>"img-responsive")) %>
						<div class="panel-body">
							<%= @player2.name %>
						</div>
					</div> <!-- end pull left -->
				<% end %> <!-- end link ruby block -->
			</div>
		</div> <!-- end div class row -->
		<div id="champion" class="center">
			Want to see who the current <%= link_to "champion", champion_path %> is?
		</div> <!-- end champion div -->
		</br>
		</br>
		<div id="email" class="center">
			Click here to <%= link_to "Get Email Updates", "http://eepurl.com/beIC91", class: "btn btn-primary" %> of the cutest fluffiest battles. 
		</div> <!-- end email div -->
	</div> <!-- end container div -->
</div><!--  end players id div -->