<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to 'New Player', new_player_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <div>
    Sign up to enter your own cute fluffy players into the arena!
  </div>
<% end %> <!-- end if user signed in check -->


<h1>Listing Players</h1>
hello
<div id="pins">
  <% @players.each do |player| %>
  <div class="box">
    <%= image_tag player.image.url(:medium) %>
    <%= player.name %>
    <%= player.wins %>
    <%= player.matches %>
    <%= player.win_percentage %>
    <%= player.user_id %>
    <%= link_to 'Show', player %>

    <% if (player.user == current_user) %>
        <%= link_to 'Edit', edit_player_path(player) %>
        <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %> <!-- end if current player -->

      <% if (current_user.try(:admin?)) %>
        <%= link_to 'Admin Edit', edit_player_path(player) %>
        <%= link_to 'Admin Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %> <!-- end if admin  -->
    <% end %> <!-- end each player do block -->
  </div> <!-- end div class box -->
</div> <!-- end id pins -->
hello
<br>


