<p id="notice"><%= notice %></p>

<%= image_tag @player.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @player.wins %>
</p>

<p>
  <strong>Matches:</strong>
  <%= @player.matches %>
</p>

<p>
  <strong>Win percentage:</strong>
  <%= @player.win_percentage %>
</p>

<p>
	<strong>Submitted by:</strong>
	<%= @player.user.name %>
</p>

<p>
  flagged = <%= @player.flagged %>
</p>

<p>
  flagged by = <%= User.find(@player.flagged_by_user_id).email %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
